.project {
    margin: 0px 25px 0px 25px;
    padding-bottom: 25px;
    background-color: white;
    border-radius: 10px;
    &-info-container{
        &-logo svg{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        &-text{
            text-align: center;
            font-family: $primaryfont;
            h1 {
                font-weight: bold;
                font-size: 22px;
                padding: 0px 20px 0px 20px;
                margin-bottom: 20px;
            }
            p {
                color: $darkGrey;
                font-size: 15px;
                margin-bottom: 30px;
                padding: 5px;
            }
        }
        &-btns{
            display: grid;
            grid-template-columns: 216px 1fr;
            padding: 5px;
            &-btn1 button {
                font-weight: bold;
                font-size: 14px;
                color: $white;
                background-color: $moderateCyan; 
                border-radius: 28px;
                border: none;
                padding: 17.5px 48px 17.5px 48px;
            }
            &-btn2 button{
                border: none;
            }
        }
    }
}

.col-md-12 {
    bottom: 25px;
}


.data {
    margin: 25px 25px 20px 25px;
    bottom: 20px;
    background-color: white;
    border-radius: 10px;
    &-data-container{
        padding: 20px 0px 20px 0px;
        &-text{
            text-align: center;
            font-family: $primaryfont;
            h1 {
                font-weight: bold;
                font-size: 35px;
            }
            p {
                color: $darkGrey;
                font-size: 15px;
            }
        }
    }
}
.progress {
    background-color: #cad6e2 !important;
    margin: 0px 20px 0px 20px;
}
.progress-bar {
    background-color: $darkCyan !important;
}


.about {
    margin: 50px 45px 40px 45px;
    &-text{
        font-family: $primaryfont;
        h1 {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 30px;
        }
        p {
            font-size: 14px;  
        }
    }
}

.products {
    margin: 45px;
    &-container{
        &-item1{
            border: solid 1px $darkGrey;
            border-radius: 10px;
            font-family: $primaryfont;
            padding: 15px;
            margin-top: 10px;
            &-header{
                h2 {
                    font-weight: bold;
                    font-size: 16px;
                }
                p {
                    color: $moderateCyan;
                }
            }
            &-info{
                p {
                    color: $darkGrey;
                    margin: 25px 0px 15px 0px;
                    font-size: 15px;
                }
            }
            &-stock{
                strong {
                    font-size: 30px;
                    color: $black;
                }

                p {
                    color: $darkGrey;
                }
            }
            &-btn button {
                font-weight: bold;
                font-size: 14px;
                color: $white;
                background-color: $moderateCyan; 
                border-radius: 28px;
                border: none;
                padding: 15px 40px 15px 40px;
            }
        }
        &-item2{
            border: solid 1px $darkGrey;
            border-radius: 10px;
            font-family: $primaryfont;
            padding: 15px;
            margin-top: 30px;
            &-header{
                h2 {
                    font-weight: bold;
                    font-size: 16px;
                }
                p {
                    color: $moderateCyan;
                }
            }
            &-info{
                p {
                    color: $darkGrey;
                    margin: 25px 0px 15px 0px;
                    font-size: 15px;
                }
            }
            &-stock{
                strong {
                    font-size: 30px;
                    color: $black;
                }

                p {
                    color: $darkGrey;
                }
            }
            &-btn button {
                font-weight: bold;
                font-size: 14px;
                color: $white;
                background-color: $moderateCyan; 
                border-radius: 28px;
                border: none;
                padding: 15px 40px 15px 40px;
            }
        }
        &-item3{
            opacity: .5;
            font-family: $primaryfont;
            padding: 15px;
            margin-top: 30px;
            &-header{
                h2 {
                    font-weight: bold;
                    font-size: 16px;
                }
                p {
                    color: $moderateCyan;
                }
            }
            &-info{
                p {
                    color: $darkGrey;
                    margin: 25px 0px 15px 0px;
                    font-size: 15px;
                }
            }
            &-stock{
                strong {
                    font-size: 30px;
                    color: $black;
                }

                p {
                    color: $darkGrey;
                }
            }
            &-btn button {
                font-weight: bold;
                font-size: 14px;
                color: $white;
                background-color: $darkGrey; 
                border-radius: 28px;
                border: none;
                padding: 15px 40px 15px 40px;
            }
        }
    }
}