html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #e7e7e7;
}

.navbar {
  background-color: transparent !important;
}

.nav-item {
  list-style: none;
}

.navbar-links {
  padding: 0px;
  margin-top: 25px;
  width: 300px;
  height: 212px;
  background-color: white;
  border-radius: 10px;
}

.nav-link {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 22px;
  color: black;
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
}

.hero-banner {
  height: 300px;
  background-image: url("../images/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.project {
  margin: 0px 25px 0px 25px;
  padding-bottom: 25px;
  background-color: white;
  border-radius: 10px;
}

.project-info-container-logo svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-info-container-text {
  text-align: center;
  font-family: "Commissioner", sans-serif;
}

.project-info-container-text h1 {
  font-weight: bold;
  font-size: 22px;
  padding: 0px 20px 0px 20px;
  margin-bottom: 20px;
}

.project-info-container-text p {
  color: #7a7a7a;
  font-size: 15px;
  margin-bottom: 30px;
  padding: 5px;
}

.project-info-container-btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 216px 1fr;
      grid-template-columns: 216px 1fr;
  padding: 5px;
}

.project-info-container-btns-btn1 button {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  background-color: #3cb4ac;
  border-radius: 28px;
  border: none;
  padding: 17.5px 48px 17.5px 48px;
}

.project-info-container-btns-btn2 button {
  border: none;
}

.col-md-12 {
  bottom: 25px;
}

.data {
  margin: 25px 25px 20px 25px;
  bottom: 20px;
  background-color: white;
  border-radius: 10px;
}

.data-data-container {
  padding: 20px 0px 20px 0px;
}

.data-data-container-text {
  text-align: center;
  font-family: "Commissioner", sans-serif;
}

.data-data-container-text h1 {
  font-weight: bold;
  font-size: 35px;
}

.data-data-container-text p {
  color: #7a7a7a;
  font-size: 15px;
}

.progress {
  background-color: #cad6e2 !important;
  margin: 0px 20px 0px 20px;
}

.progress-bar {
  background-color: #147b74 !important;
}

.about {
  margin: 50px 45px 40px 45px;
}

.about-text {
  font-family: "Commissioner", sans-serif;
}

.about-text h1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}

.about-text p {
  font-size: 14px;
}

.products {
  margin: 45px;
}

.products-container-item1 {
  border: solid 1px #7a7a7a;
  border-radius: 10px;
  font-family: "Commissioner", sans-serif;
  padding: 15px;
  margin-top: 10px;
}

.products-container-item1-header h2 {
  font-weight: bold;
  font-size: 16px;
}

.products-container-item1-header p {
  color: #3cb4ac;
}

.products-container-item1-info p {
  color: #7a7a7a;
  margin: 25px 0px 15px 0px;
  font-size: 15px;
}

.products-container-item1-stock strong {
  font-size: 30px;
  color: black;
}

.products-container-item1-stock p {
  color: #7a7a7a;
}

.products-container-item1-btn button {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  background-color: #3cb4ac;
  border-radius: 28px;
  border: none;
  padding: 15px 40px 15px 40px;
}

.products-container-item2 {
  border: solid 1px #7a7a7a;
  border-radius: 10px;
  font-family: "Commissioner", sans-serif;
  padding: 15px;
  margin-top: 30px;
}

.products-container-item2-header h2 {
  font-weight: bold;
  font-size: 16px;
}

.products-container-item2-header p {
  color: #3cb4ac;
}

.products-container-item2-info p {
  color: #7a7a7a;
  margin: 25px 0px 15px 0px;
  font-size: 15px;
}

.products-container-item2-stock strong {
  font-size: 30px;
  color: black;
}

.products-container-item2-stock p {
  color: #7a7a7a;
}

.products-container-item2-btn button {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  background-color: #3cb4ac;
  border-radius: 28px;
  border: none;
  padding: 15px 40px 15px 40px;
}

.products-container-item3 {
  opacity: .5;
  font-family: "Commissioner", sans-serif;
  padding: 15px;
  margin-top: 30px;
}

.products-container-item3-header h2 {
  font-weight: bold;
  font-size: 16px;
}

.products-container-item3-header p {
  color: #3cb4ac;
}

.products-container-item3-info p {
  color: #7a7a7a;
  margin: 25px 0px 15px 0px;
  font-size: 15px;
}

.products-container-item3-stock strong {
  font-size: 30px;
  color: black;
}

.products-container-item3-stock p {
  color: #7a7a7a;
}

.products-container-item3-btn button {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  background-color: #7a7a7a;
  border-radius: 28px;
  border: none;
  padding: 15px 40px 15px 40px;
}
/*# sourceMappingURL=style.css.map */